*{
    margin: 0px;
    padding: 0px;
}
.head{
    width: 100%;
    height: 56px;
    background-color: #2289bf;
}
.imgh1{
    position: absolute;
    margin-left: 130px;
    margin-top: 10px;
}
.hsea{
    width: 280px;
    height: 30px;
    position: absolute;
    margin-left: 1450px;
    margin-top: 10px;
    border-radius: 50px;
    padding-left: 40px ;
    background:url(img/img2.png) no-repeat #ffffff 10px 7px;
}
.hbt{
    background:url("img/img3.png") no-repeat #2289bf 0px 3px;
    position: absolute;
    margin-left: 1800px;
    margin-top: 15px;
    width: 70px;
    border: none;
    color: #fff;
}
.main{
    margin: auto;
    width: 1280px;
    height: 1280px;
    padding: 0px;
}
.left{
    width: 20%;
    height: 100%;
    background-color: #2a2e3d;
    font-family: "Microsoft YaHei ";
    float: left;
}
.user{
    width: 100%;
    height: 90px;
}
.pho{
    border: solid 1px #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 15px;
    margin-left: 50px;
}
.phot{
    border: solid 1px #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 4px;
    background-color: #fff;
}
.user a{
    color: #fff;
    float: right;
    margin-right: 90px;
    margin-top: 40px;
}
.fo{
    width: 100%;
    height: 40px;
}
.fo ul{
    list-style: none;
    color: #4c5869;
    float: right;
}
.fo ul li{
    float:left;
}
.fo ul li p{
    font-size: 15px;
}
.li1{
    padding-right: 10px;
    margin-right: 10px;
    border-right:solid 1px;
}
.li2{
    margin-right: 100px;
}
.list{
    line-height: 40px;
    list-style: none;
    font-size: 13px;
    font-family: "SimHei ";
    color: #4c5869;
    width: 100%;

}
.list i{
    margin-top: 14px;
    margin-right: 5px;
    float: left;
    width: 12px;
    height: 12px;
}
.list li{
    list-style: none;
    padding-left: 40px;
}
.list li:hover{
    background-color: #383d4e;
}
.list1{
    background-color: #383d4e;
}

.icon1{
    background: url("img/icon1.png") no-repeat center;
}
.icon-l{
    background: url("img/icon-l.png") no-repeat center;
}
.icon-d{
    background: url("img/icon-d.png") no-repeat center;
}
.icon-doc{
    background: url("img/icon-doc.png") no-repeat center;
}
.icon-doce{
    background: url("img/icon-doce.png") no-repeat center;
}
.icon-star{
    background: url("img/icon-star.png") no-repeat center;
}
.icon-sh{
    background: url("img/icon-sh.png") no-repeat center;
}
.icon-im{
    background: url("img/icon-star.png") no-repeat center;
}
.icon-ba{
    background: url("img/icon-ba.png") no-repeat center;
}
.r{
    float: right;
    width: 80%;
    background-color: #eeeded;
    height: 100%;
}

.head2{
    box-sizing:border-box;
    width: 100%;
    height: 40px;
    box-shadow: 0px 0px 5px #aaaaaa;
    background-color: #ffffff;
    font-size: 13px;
    padding:10px 20px;
}
.head2 li{
    list-style: none;
    float: left;
}
.head2 ul li:after{
    content: "/";
    padding: 3px;
}
.r1{
    box-shadow: 0px 0px 5px #aaaaaa;
    height: 100px;
    width: 900px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
    color: #9d9b9a;
    background-color: #fff;
}
.search{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 12px;
}
.search select{
    border-radius: 5px ;
    appearance:none;
}
.change{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 12px;
}
.change select{
    border-radius: 5px ;
    appearance:none;
    width: 120px;
}
.sell{
    margin-top: 10px;
}
.chan{
    float:left;
}
.cha{
    float: right;
    background: url("img/img5.png");
    width: 27px;
    height: 37px;
    margin-top: 7px;
}
.cha a{
   line-height: 37px;
    margin-left: 13px;
    color:#fff;
}
.date{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 12px;
    width: 370px;
    height: 60px;
    line-height: 30px;
}
.date a{
    margin-left: 25px;
}
.date input{
     border-radius: 5px;
     margin-left: 5px;
 }
.date select{
    border-radius: 5px;
    margin-left: 5px;
}
.das1{
     width: 130px;
 }
.das2{
    width: 70px;
}
.r1btn{
    background-color: #388bc2;
    margin-top: 30px;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    color: #fff;
    border: none;
}
.tab{
    height: 60px;
    width: 900px;
    margin-top: 20px;
    margin-left: 70px;
}
.tbu{
    float: left;
    list-style: none;
}
.tab2:hover{
    border-top: solid #2289bf;
    box-sizing:border-box;
}
.tab1:hover,.tab3:hover{
background:#ddd;
}
.tab1{
    float: left;
    height: 60px;
    width: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaaaaa;
}
.tab1 img{
    margin-top: 20px;
    margin-left: 10px;
}
.tab2 {
    float: left;
    height: 60px;
    width: 110px;
    margin-left: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaaaaa;
    text-align: center;
}
.time{
    margin-top: 12px;
    line-height: 12px;
    color:#323333;
}
.t2p{
    margin-top: 3px;
    font-size: 21px;
    color: #e7504d;
}
.tab3{
    float: left;
    height: 60px;
    width: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaaaaa;
    margin-left: 5px;
}
.tab3 img{
    margin-top: 20px;
    margin-left: 10px;
}
.tab4{
    float: left;
    height: 60px;
    width: 140px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaaaaa;
    margin-left: 5px;
}
.tab4 img{
    float: left;
    margin-left: 15px;
    margin-top: 12px;
}
.tab4 p{
    float: left;
    margin-left: 12px;
    margin-top: 20px;
}
.m4{
    height: 100px;
    width: 900px;
    margin-top: 20px;
    margin-left: 70px;
}
.m4ul{
    list-style: none;
    margin-top: 5px;
}
.m4ul li{
    float: left;
    width: 200px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaaaaa;
    position: relative;
}
.m1l1{
    border-left: solid 5px #43b29e;
}
.m1l2{
    border-left: solid 5px #388bc2;
    margin-left: 26px;
}
.m1l3{
    border-left: solid 5px #d04a36;
    margin-left:  26px;
}
.m1l4{
    border-left: solid 5px #e2cd47;
    margin-left:   26px;
}
.m4ul li p{
    margin-top: 15px;
    margin-left:8px;
    line-height: 20px;
}
.m4ul li span{
    font-size: 12px;
    margin-left: 8px;
    color: #9d9b9a;
}
.m4ul li div{
    height: 50px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 15px;
}
.l1g{
    background-color: #43b29e;
}
.l2g{
    background-color: #388bc2;
}
.l3g{
    background-color: #d04a36;
}
.l4g{
    background-color: #e2cd47;
}
.first{
    width: 900px;
    height: 360px;
    margin-top: 20px;
    margin-left: 70px;
}
.fl{
    width: 530px;
    height: 360px;
    background-color: #fff;
    border-radius: 5px;
    float: left;
}

.flh{
    width: 100%;
    height: 45px;
    background: #f4f5f6;
    color:#aaa;
    font-size: 15px;
    border-radius: 5px 5px 0px 0px;
    padding-left: 20px;
    padding-top: 15px;
    border-bottom: solid 1px #e7e8eb;
    box-sizing:border-box;
}
.tabs input{
    display: none;
}
.tab-t{
    width: 490px;
    height: 25px;
}
.tabs{
    position: relative;
}
.tabs ul{
    margin-left: 20px;
    margin-top: 20px;
}
.tabs li{
    list-style: none;
    float: left;
    margin-left: 5px;
    text-align: center;
    width: 85px;
    height: 25px;
}
.tw,.th,.fr,.fi{
    margin-left: 3px;
}
.m-t{
    display: none;
}
.f-m,.tw-m,.th-m,.fr-m,.fi-m{
    width: 450px;
    height: 250px;
    border: solid 1px #e7e8eb;
    top: 30px;
    left: 25px;
    position: absolute;
}

.m-t{
    margin-left: 15px ;
    margin-top: 30px;
    width: 400px;
    height: 186px;
    border-collapse:collapse;
    text-align: center;
}
.m-t td{
    border:solid 1px  #e7e8eb ;
    width: 100px;
    height: 31px;
}
.tabs label{
    display: block;
    width: 85px;
    height: 27px;
    background-color:#ededf0 ;
    border-radius: 3px 3px 0px 0px;
    border: solid 2px #e7e8eb;
    position: relative;
    z-index: 1;
}
#f:checked~ label,#tw:checked~ label,#th:checked~ label,#fr:checked~ label,#fi:checked~ label{
    background-color:#fff ;
    border-bottom: none;
    z-index: 1;
    height: 30px;
}
#f:checked~ .f-m .m-t,#tw:checked~ .tw-m .m-t,#th:checked~ .th-m .m-t,#fr:checked~ .fr-m .m-t,#fi:checked~ .fi-m .m-t{
    display: block;
    left:0;
    top:40px;
}
.frt{
    width: 355px;
    height: 360px;
    background-color: #fff;
    border-radius: 5px;
    float: right;
}
.frtb{
    width: 100%;
    height: 100%;
}
.frtbu{
    padding: 4px;
    width: 290px;
    height: 270px;
    margin: auto;
    margin-top: 15px;
    list-style: none;
}
.frtb1{
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #aaa;
}
.frtbu p{
    margin-left: 7px;
}
.frtbu p span{
    color:#aaa;
}
.frtb2{
    padding: 4px;
    width: 33.3%;
    height: 40px;
    border-bottom: solid 1px #aaa ;
    border-right: solid 1px #aaa ;
    float:left;
}
.frtb3{
    padding: 4px;
    width: 60.6%;
    height: 40px;
    border-bottom: solid 1px #aaa ;
    float:right;
}
.frtb4{
    width: 100%;
    height: 190px;
    border-bottom: solid 1px #aaa ;
}
.frtb5{
    width: 100%;
    height: 40px;
    padding: 5px;
}
.frtb5 label{
    float: left;
    color:#aaa;
    font-size: 15px;
}
.frtb5 input[type="submit"]{
    float:right;
    width:50px;
    height:26px;
    margin-right: 10px;
    text-align: center;
    background:#388ac1;
    color:#fff;
    border-radius: 2px;
    border: none;
  }
.seda{
    margin-left: 30px;
    margin-top: 10px;
}
.seda input{
    background-color: #fff;
    border: solid 1px #aaa ;
    width: 80px;
}
.data{
    margin-left: 30px;
}
.dt{
    width: 290px;
    height: 250px;
    text-align: center;
    margin-top: 10px;
    border-collapse: collapse;

}
.week tr{

}
.week td {
    border-bottom:solid 1px #aaa;
    border-top: solid 1px #388ac1;
    font-family: "Microsoft YaHei ";
    height: 25px;
    font-size: 10px;
}

.fes small{
    color: #d04a36;
}
.weekend span{
    display: inline-block;
    color: #d04a36;
}
.weekend small{
    color: black;
}
.day span{
    display: inline-block;
    height: 39px;
    width: 40px;
}
.day td {
    width: 55px;
    height: 40px;
    margin-top: 3px;
    line-height: 15px;

}
.sec span{
    border: solid 1px #ffff00;
    box-sizing:border-box;
}
.day span:hover{
    margin: -1px;
    border: solid 1px #ffff00;
}
.car{
    margin:auto;
    margin-top: 15px;
    width: 430px;
    height: 290px;
    border: solid 1px #aaa;
    text-align: center;
}
.rank{
    width: 70px;
}
.name{
    width: 90px;
}
.car td,th{
    border: solid 1px #aaa;
    cursor:pointer;
}
.car tr:hover{
    background-color: #f4f5f6;
}
.car p{
    display: inline-block;
    width: 120px;
    height: 4px;
    margin-left: 10px;
    margin-bottom: 4px;
    background-color: #aaa;
    border-radius: 2px;
}
.rank1{
    display: block;
    width: 80%;
    height: 4px;
    background-color:#ed6e52;
    border-radius: 2px;
}
.rank2{
    display: block;
    width: 70%;
    height: 4px;
    background-color:#ef8150;
    border-radius: 2px;
}
.rank3{
    display: block;
    width: 65%;
    height: 4px;
    background-color:#f19e4f;
    border-radius: 2px;
}
.rank4{
    display: block;
    width: 60%;
    height: 4px;
    background-color:#7ecaf0;
    border-radius: 2px;
}
.rank5{
    display: block;
    width:55%;
    height: 4px;
    background-color:#7ecaf0;
    border-radius: 2px;
}
.rank6{
    display: block;
    width:50%;
    height: 4px;
    background-color:#7ecaf0;
    border-radius: 2px;
}
.rank7{
    display: block;
    width:45%;
    height: 4px;
    background-color:#7ecaf0;
    border-radius: 2px;
}
.rank8{
    display: block;
    width:40%;
    height: 4px;
    background-color:#7ecaf0;
    border-radius: 2px;
}
.rank9{
    display: block;
    width:35%;
    height: 4px;
    background-color:#7ecaf0;
    border-radius: 2px;
}
.rank10{
    display: block;
    width:30%;
    height: 4px;
    background-color:#7ecaf0;
    border-radius: 2px;
}