*{
    padding: 0px;
    margin: 0px;
}
.parent{
    display:-webkit-flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
}
.parent div{
    border: solid 2px #f00;
    width: 150px;
    margin: 20px;
}
.d1{
    height: 120px;
}
.d2{
    height: 100px;
}
.d3{
    height: 40px;
}
.d4{
    height: 200px;
    border-color: #00f!important;
}
@media screen and (max-width: 640px){
    .d4{
        order: -1;
    }
    .parent{
        flex-wrap: wrap;
        align-items: flex-start;
    }
}