*{
    padding: 0px;
    margin: 0px;
}
.page{
    margin: auto;
    font-family: "微软雅黑";
}
.page ul{
    list-style: none;
}
.head{
    background-color: #91d4da;
    color: #fff;
    height: 70px;
    width: 100%;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
}
.back{
    position: absolute;
    left: 0px;
    padding-left: 60px;
    margin: auto;
    background: url("img/imgleft.jpg")no-repeat;
}
.banner {
    width: 100%;
    height: 70px;
}
.banner li{
    float: left;
    width: 20%;
    height: 70px;
    text-align: center;
    color:#6f7178;
    font-size: 40px;
}
.banner li:hover{
    border-bottom:solid 3px #91d4da ;
    box-sizing: border-box
}
.title{
    width: 100%;
    height: 1200px;
}

.title img{
    width: 100%;
}
.titleul1{
    padding: 20px;
}
.titleul1 li{
    float: left;
    width: 20%;
    height: 160px;
    text-align: center;
    border-bottom: solid 2px #ccc;
    box-sizing: border-box
}
.titleul1 li img{
    width: 45%;
    height: 75%;
}
.titleul2 li{
    margin-top: 50px;
    float: left;
    width: 33.3%;
    height: 180px;
    text-align: center;
    border-left: solid 2px #ccc;
    box-sizing: border-box
}
.titleul2 li img{
    width: 50%;
    height: 75%;
}
.module{
    width: 100%;
    border: solid 2px;
}
.moudle ul{
    border: solid;
    width: 70%;
    float: right;
}
.module ul li{
    width: 50%;
    float: left;
}