.main{
    width: 1280px;
    height: 980px;
    padding: 0px;
    margin: 0px auto;
}
.title{
    margin: 0px;
    width: 100%;
    height: 60px;
    font-family: 微软雅黑;
    font-size: 20px;
}
.title img{
    margin-top: 10px;
    margin-left: 30px;
}
.tul1{
    font-size: 15px;
    list-style: none;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.tul1 li{
    float:left ;
    margin: 10px;
    height: 37px;
    width: 70px;
    text-align: center;
}
.tul1 li a{
    margin-top: 5px;
    text-decoration: none;
    color: black;
}
.tul1 li:hover {
    border-bottom: solid red 4px;
}
.lii span{
    color: crimson;
}
.lii{
}
.lii img{
    margin-top: 0px;
    margin-left: 0px;
}
.part1 {
    background-image: url("img7/img3.png");
    margin: 0px;
    height: 690px;
    width: 1280px;
}
.p1text{
    float: left;
    width: 500px;
    height: 350px;
    margin-left: 130px;
    margin-top: 250px;
}
.p1text h1{
    text-align:left;
    font-family:"Microsoft YaHei ";
    font-size: 60px;
    color: white;
}
.p1text p{
    margin-top: -35px;
    line-height: 40px;
    font-size: 30px;
    font-family: 宋体;
    color: white;
}
.bt1 {
    margin-left: 80px;
    margin-top: 40px;
    background-color: #e7504d;
    width: 350px;
    height:60px;
    font-size: 30px;
    border: 0px;
    font-family: 宋体;
    color: white;
}
.table{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    cellspacing: 20px
;

}
.td3{
    border-right: solid 2px;
    font-size: 14px;;
    color: #999;
    font-family: 黑体;
    text-align: center;
    height: 50px;
}
.td4 {
    font-size: 14px;;
    color: #999;
    font-family: 黑体;
    text-align: center;
    height: 60px;
}
.table p{
    width: 170px;
    float: left;
    margin-top: 0px;
    margin-left: 67px;

}
.part2{
    width: 100%;
    height: 360px;
    background-color: #ededed;
    margin-top: 70px;
}
.part2 img{
    margin:100px 590px 50px;
}
.part2 p {
    border: 0px;
    font-size: 50px;
    font-family: "黑体";
    color: #a1a1a1;
    text-align: center;
    margin-top: 0px;
}
.part3{
    margin: 0px auto;
    width: 100%;
    height: 340px;
    background-image:url("img7/img9.png");
}
.part3 p{
    float: left;
    margin-top: 50px;
    margin-left: 450px;
    text-align: center;
    color: white;
    font-family: 黑体;
}
.part3 p span{
    font-size: 30px;
    line-height: 60px; }
#p3s1{
    border-bottom:solid  white 2px;
    padding-bottom: 10px;
}
.part3 ul{
    clear:both;
    list-style: none;
    float: left;
    margin-top:20px;
    margin-left: 130px;
}
.part3 ul li{
    float: left;
    margin-right: 20px;
    background-image:url("img7/img10.png");
}
.part3 ul li select{
    float: right;
    width: 230px;
    height: 40px;
}
.part3 ul li input{
    float: right;
    width: 230px;
    height: 35px;
    background-color: #e7504d;
    color: white;
    font-family: 黑体;
    border: 0px;
    text-align: center;
}
.part4{
    background:#f7f7f7 ;
    height: 650px;
    width: 100%;
}
.p4s{
    width: 1280px;
    height:450px;
    padding: 100px 110px;
}
.p4s div{
    margin-left:35px;
    float: left;
    font-size: 14px;
    font-family: "黑体";
    text-align: center;
    line-height: 25px;
    color: #808181;
}
.p4s1{
    padding:13px 7px;
    border:1px solid #ccc;
    border-bottom:0px solid #ccc;
}
.p4s2{
    font-size: 20px;
    font-weight: bold;
    word-spacing: 20px;
    color:#323333;
}
.p4sp{
    font-weight: bold;
    color:#323333;
}
.part5{
    padding: 0px;
    width: 100%;
    height: 565px;
    margin: 0px;
}
.p5s1{
    float: right;
    height: 560px;
    padding: 0px;
    margin: 0px;
}
.part5 p{
    float: right;
    margin-right: 20px;
    margin-top: 150px;
    height: 200px;
    width: 340px;
    text-align: left;
    padding: 0px;
    text-indent:10em;
    font-size:10px;
    color: #C3C3C3;
    line-height: 40px;
}
.part5 p span{
    font-size: 20px;
    font-family: 黑体;
    line-height: 50px;
    align: center;
    color: black;
}
#spr{
    color: red;
}
.btn1{
    position: absolute;
    margin-top:400px;
    margin-left: 100px;
    padding: 15px 30px;
    font-size: 15px;
    border: 1px solid crimson;
    color: #E7504D;
    background-color: #fff;
    font-weight: bold;
    font-family: 黑体;
}
.p5s1 ul{
    position: absolute;
    list-style: none;
    float: right;
    width:70px;
    margin-left:90px;
    margin-top: 455px;
}
.p5s1 ul li{
    float: left;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}
.dian{
    background:url("img7/img16.png") no-repeat center;
}
.quan{
    background-image: url("img7/img17.png");
}
.part6{
    margin-top: 0px;
    width: 100%;
    height: 520px;
    float: right;
}
.p61{
    width: 33.33%;
    height: 520px;
    float: left;
    background-color: #e7504d;
}
.p62{
    width: 33.33%;
    height: 520px;
    float: left;
}
.p63{
    width: 33.33%;
    height: 520px;
    float: left;
    background: url("img7/img18.png") no-repeat center;
}
.p61 p{
    font-family: 黑体;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color:white;
    margin-top: 170px;
    width: 100%;

}
.p61 p span{
    border-bottom: solid 2px white;
    padding-bottom: 20px;
}
.btn2{
    position: absolute;
    margin-top:20px;
    margin-left: 150px;
    padding: 15px 30px;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    background-color: #e7504d;
    font-family: 黑体;
}
.p62 p{
    font-family: 黑体;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: black;
    margin-top: 170px;

}
.p62 p span{
    border-bottom: solid 2px #e7504d;
    padding-bottom: 20px;
}
.btn3{
    position: absolute;
    margin-top:20px;
    margin-left: 150px;
    padding: 15px 30px;
    font-size: 20px;
    border: 1px solid #e7504d;
    color:#e7504d;
    background-color: white;
    font-family: 黑体;
}
.part7{
    border: solid white;
    clear: both;
    width: 100%;
    height: 850px;
    margin-top: 0px;
}
.p7p1{
    margin: 120px auto;
    width: 440px;
    height: 140px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    font-family: 黑体;
    color: #aaaaaa;
}
.p7p1 span{
    font-size: 21px;
    color: black;
    line-height: 50px;
    font-weight: bold;
}
#p7s1{
    border-bottom: solid red 2px;
    padding-bottom: 7px;
}
.p7l1{
    margin-right: 0px;
    height: 110px;
    width: 310px;
    float: left;
    margin-left: 130px;
    font-size: 12px;
    font-family: "黑体";
    color: #9d9b9a;
}
.p7l1p1{
    font-size: 14px;
    font-family: "黑体";
    padding-bottom: 10px;
    color: black;
    margin: 0px;
}
.p7m{
    float: right;
}
.p7l2{
    border: solid;
     height: 110px;
     width: 310px;
     float: left;
     margin-top: 20px;
     margin-left: 130px;
     font-size: 12px;
     font-family: "黑体";
     color: #9d9b9a;
 }
.p7l2p2{
    font-size: 14px;
    font-family: "黑体";
    padding-bottom: 10px;
    color: black;
    margin: 0px;
}
.p7l3{
    height: 60px;
    width: 310px;
    float: left;
    margin-top: 20px;
    margin-left: 130px;
    font-size: 12px;
    font-family: "黑体";
    color: #9d9b9a;
}
.p7l3p1{
    font-size: 14px;
    font-family: "黑体";
    padding-bottom: 10px;
    color: black;
    margin: 0px;
}
.tb1{
    float:right;
    width: 700px;
    height: 325px;
}
.part7 table{
    clear: both;
    float: right;
    width: 700px;
}
.part7 table td{
    border: solid;
    border:0px solid #000;
    height:60px;
    width: 340px;
    float: left;
    line-height: 45px;
}
.part7 table td input{
    border:0px solid #000;
    height:45px;
    width: 320px;
    background: #ededee;
    float: right;
    color: black;
}
.p7r2{
    float: right;
    width: 700px;
    height: 120px;
}
.p7r2 textarea{
    margin-top: 0px;
    width: 660px;
    height: 130px;
    background-color: #EDECEE;
    font: 12px;
    outline: none;
    margin-left: 20px;
    border: none;
    outline: none;
}
#sub1{
    margin-top: 10px;
    margin-left: 18px;
    width: 668px;
    height: 40px;
    background-color: #EDECEE;
    font: 14px 榛戜綋;
    border: none;
    outline: none;
}
.foot{
    width: 100%;
    height: 410px;
    border: solid #32353e;
    background-color:#353941;
    text-align: center;
}
.foot p{font-size: 12px;
    line-height: 21px;
    color: #fff;
    margin-top: 90px;
    font-family: 黑体;
}
.foot span{font-size: 30px;
    margin: 10px;
    font-weight: bold;
}
.em{
    margin: 20px auto;
    width: 420px;
}
.email{
    width: 350px;
    height: 30px;
    color: #999;
    margin:10px auto;
    border:0px solid #000;
    float: left;
}
.sub2{
    width: 70px;
    height: 33px;
    margin:10px auto;
    border:0px solid #000;
    color: #fff;
    background: #6f7178;
    float: left;
}
.foot ul{
    list-style: none;
    margin: 0 auto;
    width:200px;
}
.foot ul li{
    float: left;
    margin: 0 10px;
}
.footer{
    border: solid#31323B;
    width: 100%;
    margin-top: 0px;
    height: 55px;
    background-color: #31323B;
}
.fl{
    float:left;
    color:white;
    margin-left: 100px;
}
.fr{
    float: right;
    color:white;
    margin-right: 50px;
}
.fr a{
    text-decoration: none;
}
.fr a:hover{
     text-decoration:none;
}
.fr a:visited{
    color: white;
}